@use "../../../src/styles/variables";

.container {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  .content {
    width: 100%;
    max-width: 1370px;
    text-align: left;

    .title {
      margin-top: 50px;
      margin-left: 10px;
      color: variables.$primary-text-color;
      font-weight: 900;
      font-size: 40px;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 500px) {
  .content {
    .title {
      margin-top: 25px;
      margin-left: 15px;
      font-weight: 500;
      font-size: 20px;
    }
  }
}

