.header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.header-menu {
  display: flex;
  width: 100%;
  max-width: 1370px;
  height: 61px;
  justify-content: space-between;
  padding-left: 16px;
}
.header-menu__details {
  display: flex;
  gap: 20px;
  padding-top: 18px;
}
.header-menu__details-location {
  display: flex;
  align-items: center;
  gap: 17px;
  padding-bottom: 15px;
}
.header-menu__details-location .location-address {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1px;
}
.header-menu__details-location .location-address span {
  padding-left: 1px;
  letter-spacing: 0.01px;
  font-weight: 300;
  font-size: 12px;
  color: #3F4E65;
}
.header-menu__details-mail {
  display: flex;
  padding-bottom: 16px;
  align-content: center;
  align-items: center;
  gap: 18px;
}
.header-menu__details-mail .mail-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.header-menu__details-mail .mail-address span {
  font-weight: 300;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0;
}
.header-menu .dashed-border {
  position: relative;
  height: 39px;
  opacity: 0.05;
  border: 1px dashed #000000;
  top: -5px;
}
.header .navigation-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 514px;
  padding-right: 1px;
}
.header .navigation-list .dashed-border {
  border: 1px dashed #3F4E65;
  height: 29px;
  opacity: 0.1;
}
.header .navigation-list__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #3F4E65;
  padding-top: 5px;
}
.header-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 107px;
  border-top: 1px solid rgba(63, 78, 101, 0.2);
  border-bottom: 1px solid rgba(63, 78, 101, 0.2);
}
.header-actions .dashed-border {
  border: 1px dashed #3F4E65;
  height: 49px;
  opacity: 0.1;
}
.header-actions__container {
  width: 100%;
  max-width: 1370px;
  display: flex;
  align-items: center;
  padding-left: 19px;
}
.header-actions__container .first-actions__container {
  display: flex;
  gap: 15px;
}
.header-actions__container .second-actions__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-actions__catalog-btn {
  display: flex;
  align-content: center;
  align-items: center;
  width: 192px;
  height: 59px;
  background: #FFC85E;
  border-radius: 79px;
  margin-left: 38px;
}
.header-actions__catalog-btn button {
  margin: 0 auto;
  display: flex;
  gap: 12px;
  background: none;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.header-actions__search-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 263px;
  height: 59px;
  background: #EDEDED;
  border-radius: 36px;
  margin-right: 33px;
}
.header-actions__search-field .search-placeholder {
  padding-left: 20px;
  font-size: 12px;
  text-decoration-line: underline;
  color: #5C6370;
  opacity: 0.6;
}
.header-actions__search-field .search-btn {
  margin-right: 10px;
  width: 39px;
  height: 39px;
  background: #FFC85E;
  border-radius: 1000px;
  vertical-align: middle;
}
.header-actions__search-field .search-btn img {
  position: relative;
  top: 25%;
}
.header-actions__callback {
  display: flex;
  gap: 14px;
}
.header-actions__callback .content {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.header-actions__callback .content .number {
  font-weight: 600;
  font-size: 14px;
  color: #111111;
  letter-spacing: 0.3px;
}
.header-actions__callback .content .schedule {
  color: #3F4E65;
  font-weight: 300;
  font-size: 12px;
}
.header-actions__callback .content .order-callback {
  color: #3F4E65;
  font-weight: 400;
  font-size: 10px;
  text-decoration-line: underline;
}
.header-actions__callback .callback-img {
  padding-bottom: 4px;
}
.header-actions__price-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 200px;
  height: 59px;
  background: #FFC85E;
  border-radius: 79px;
}
.header-actions__price-btn .price-title {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.header-actions__price-btn .price-btn {
  display: flex;
}
.header-actions__cart {
  display: flex;
  align-items: center;
  margin-right: 36px;
  margin-top: 4px;
  cursor: pointer;
}
.header-actions__cart h4 {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  color: #3F4E65;
}
.header-actions__cart .total-cost {
  width: 70px;
  margin-left: 25px;
  margin-right: -25px;
}
.header-actions__cart .cost {
  width: 200px;
  color: #111111;
  font-weight: 600;
  font-size: 14px;
}
.header-actions__cart .cart-icon {
  position: relative;
}
.header-actions__cart .cart-icon .count-products {
  position: absolute;
  top: -10px;
  right: -15px;
  width: 22px;
  height: 22px;
  background: #FFC85E;
  border: 3px solid #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 1000px;
  line-height: 22px;
}

@media only screen and (max-width: 1300px) {
  .header-menu {
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .header-actions {
    max-width: 1300px;
    height: auto;
    flex-wrap: wrap;
  }
  .header-actions__container {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 600px) {
  .header-menu {
    display: none;
  }
  .header-actions {
    max-width: 1300px;
    height: auto;
    flex-wrap: wrap;
  }
  .header-actions__container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .navigation {
    display: none;
  }
  .header-actions__catalog-btn {
    margin: 0;
    background: none;
  }
  .header-actions__catalog-btn button {
    color: #3F4E65;
  }
  .header-actions__search-field {
    justify-content: center;
    margin: 0;
    background: none;
  }
  .header-actions__search-field .search-placeholder {
    text-decoration: none;
    color: #3F4E65;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
  .header-actions__search-field .search-btn {
    background: none;
  }
  .header-actions__callback {
    display: none;
  }
  .header-actions__price-btn {
    margin: 0;
    display: none;
  }
  .first-actions__container {
    gap: 0 !important;
  }
  .dashed-border {
    display: none;
  }
  .header-actions__logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-actions__logo .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #FFC85E;
    border-radius: 1000px;
  }
  .header-actions__logo .menu-btn img {
    width: 12px;
    height: 12px;
  }
}
@media only screen and (max-width: 320px) {
  .header-actions__logo {
    margin-top: 10px;
    margin-left: 4px;
  }
  .header-actions__logo .sultan-logo {
    width: 97px;
    height: 41px;
  }
  .header-actions__logo .header-actions__cart .cart-icon {
    width: 32px;
    height: 30px;
    margin-left: -18px;
  }
  .header-actions__logo .header-actions__cart .cart-icon img {
    width: 70%;
    height: 70%;
  }
  .header-actions__logo .header-actions__cart .cart-icon .count-products {
    width: 17px;
    height: 17px;
    font-weight: 700;
    font-size: 10px;
    line-height: 17px;
  }
  .first-actions__container .header-actions__catalog-btn button {
    margin-left: 127px;
    gap: 5px;
  }
  .first-actions__container .header-actions__catalog-btn button span {
    order: 2;
  }
  .first-actions__container .header-actions__catalog-btn button img {
    order: 1;
  }
  .first-actions__container .header-actions__search-field {
    padding-right: 60px;
  }
  .first-actions__container .header-actions__search-field .search-placeholder {
    padding: 0;
    order: 2;
  }
  .first-actions__container .header-actions__search-field .search-btn {
    margin: 0;
    order: 1;
  }
}
.shopping-cart {
  flex-grow: 1;
}
.shopping-cart__container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.shopping-cart__content {
  width: 100%;
  max-width: 1370px;
  text-align: left;
}
.shopping-cart__content .breadcrumbs {
  display: flex;
  gap: 10px;
  margin-top: 45px;
  margin-left: -30px;
  font-size: 14px;
}
.shopping-cart__content .breadcrumbs .link {
  color: #3F4E65;
}
.shopping-cart__content .breadcrumbs .link:visited {
  color: #3F4E65;
}
.shopping-cart__content .breadcrumbs .dashed-border {
  height: 16px;
  opacity: 0.3;
  border: 1px dashed #3F4E65;
}
.shopping-cart__content .breadcrumbs .cart-crumb {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 300;
  user-select: none;
}
.shopping-cart__title {
  margin-top: 50px;
  margin-left: 10px;
  color: #111111;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
}
.shopping-cart__products {
  display: flex;
  flex-direction: column;
  margin-top: 47px;
}
.shopping-cart__products .dashed-border {
  width: 1365.5px;
  height: 0;
  margin-bottom: 57px;
  opacity: 0.3;
  border: 1px dashed #3F4E65;
}
.shopping-cart__products-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 29px;
  margin-bottom: 42px;
}
.shopping-cart__products-item .dashed-border {
  height: 49px;
  width: 0;
  opacity: 0.2;
  border: 1px dashed #3F4E65;
  margin-bottom: 5px;
  margin-right: 30px;
}
.shopping-cart__products-item .product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 281px;
  min-height: 191px;
}
.shopping-cart__products-item .product-img img {
  max-width: 281px;
  max-height: 191px;
}
.shopping-cart__products-item .product-description {
  max-width: 563px;
}
.shopping-cart__products-item .product-description__weight {
  display: flex;
  gap: 5px;
  font-size: 12px;
  color: #3F4E65;
}
.shopping-cart__products-item .product-description__weight-img {
  opacity: 0.23;
}
.shopping-cart__products-item .product-description__name {
  width: 70%;
  letter-spacing: 0.6px;
  color: #111111;
  font-weight: 700;
  font-size: 30px;
  margin-top: 8px;
}
.shopping-cart__products-item .product-description__text {
  max-width: 444px;
  line-height: 18px;
  font-weight: 300;
  font-size: 12px;
  color: #3F4E65;
}
.shopping-cart__products-item .product-count {
  display: flex;
  border-left: 1px dashed rgba(63, 78, 101, 0.2);
  border-right: 1px dashed rgba(63, 78, 101, 0.2);
  align-items: center;
  text-align: center;
  gap: 19px;
  margin-bottom: 10px;
  height: 49px;
}
.shopping-cart__products-item .product-count__decrement {
  width: 34px;
  height: 23px;
  margin-left: 44px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  cursor: pointer;
  user-select: none;
}
.shopping-cart__products-item .product-count__quantity {
  min-width: 30px;
  font-weight: 500;
  color: #3F4E65;
}
.shopping-cart__products-item .product-count__increment {
  width: 34px;
  height: 23px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  margin-right: 44px;
  cursor: pointer;
  user-select: none;
}
.shopping-cart__products-item .product-total-cost {
  display: flex;
  min-width: 200px;
  font-weight: 700;
  font-size: 30px;
  color: #111111;
  margin-left: 50px;
  margin-bottom: 15px;
  margin-right: -45px;
}
.shopping-cart__products-item .product-delete__btn {
  min-width: 59px;
  min-height: 59px;
  background: #FFC85E;
  border-radius: 79px;
  cursor: pointer;
  transition: 0.2s ALL;
}
.shopping-cart__products-item .product-delete__btn:hover {
  background: #efb02c;
}
.shopping-cart__products-item .product-delete__btn:active {
  background: #b0790d;
}

.ordering {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
  border-top: 1px dashed rgba(63, 78, 101, 0.3);
  align-items: center;
}
.ordering-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 59px;
  background: #FFC85E;
  border-radius: 79px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ALL;
}
.ordering-btn:hover {
  background: #efb02c;
}
.ordering-btn:active {
  background: #b0790d;
}
.ordering-total-cost {
  color: #111111;
  font-weight: 700;
  font-size: 30px;
}

@media only screen and (max-width: 1000px) {
  .shopping-cart__products-item {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 500px) {
  .shopping-cart__products-item {
    padding-left: 13px;
  }
  .shopping-cart__products-item .product-count {
    gap: 8px;
  }
  .shopping-cart__products-item .product-count__decrement {
    margin: 0;
  }
  .shopping-cart__products-item .product-count__increment {
    margin-right: 10px;
  }
  .shopping-cart__products-item .product-total-cost {
    min-width: 50px;
    margin: 0;
    font-size: 16px;
  }
  .shopping-cart__products-item .product-delete__btn {
    margin-right: 10px;
  }
  .shopping-cart__title {
    margin-top: 25px;
    margin-left: 15px;
    font-weight: 500;
    font-size: 20px;
  }
  .product-description .product-description__weight {
    margin-top: 5px;
  }
  .product-description .product-description__name {
    width: 100%;
    font-size: 20px;
  }
  .ordering {
    flex-wrap: wrap;
    justify-content: center;
  }
  .ordering .ordering-btn {
    order: 2;
    width: 290px;
    height: 80px;
  }
  .ordering .ordering-total-cost {
    order: 1;
    margin-bottom: 25px;
  }
  .shopping-cart__content .back-content {
    cursor: pointer;
  }
  .shopping-cart__content .back-content .back-btn img {
    margin-left: 12px;
  }
}
.order-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  color: #111111;
}
.order-modal {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 735px;
  min-height: 424px;
  width: 100%;
}
.order-modal__icon {
  width: 59px;
  height: 59px;
  margin: 0 auto;
  background: #FFC85E;
  border-radius: 79px;
}
.order-modal__icon img {
  margin-top: 19px;
}
.order-modal h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
}
.order-modal p {
  font-weight: 300;
  font-size: 20px;
  color: #3F4E65;
}
.order-modal .close-btn {
  background: none;
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.order-modal .close-btn:hover {
  background-color: #ff4d4d;
}

.order-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media only screen and (max-width: 500px) {
  html {
    overflow-x: hidden;
  }
  .order-overlay {
    justify-content: center;
    width: 100vw;
  }
  .order-modal {
    min-height: unset;
    width: 270px;
    height: 268px;
  }
  .order-modal h2 {
    font-size: 20px;
  }
  .order-modal p {
    font-size: 13px;
  }
}
.catalog {
  display: flex;
  height: auto;
  justify-content: center;
  width: 100%;
}
.catalog-products__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  margin-top: -25px;
  margin-left: 50px;
}
.catalog-products__container .pages {
  position: relative;
  display: flex;
  margin-top: 69px;
  left: 38.5%;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #3F4E65;
  gap: 20px;
}
.catalog-products__container .pages .page {
  cursor: pointer;
}
.catalog-products__container .pages .page-active {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
}
.catalog-products__container .pages .next {
  cursor: pointer;
  margin-left: 15px;
  transform: rotate(180deg);
}
.catalog-products__container .pages .previous {
  cursor: pointer;
  margin-right: 15px;
}
.catalog-products__container .pages .disabled {
  opacity: 0;
}
.catalog-products__text {
  margin-top: 67px;
  margin-left: 63px;
  margin-bottom: 205px;
  max-width: 910px;
  text-align: left;
  font-size: 14px;
  color: #3F4E65;
  line-height: 21px;
}
.catalog-container {
  width: 100%;
  max-width: 1370px;
}
.catalog-container .breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 140px;
  padding: 0;
  margin-left: 10px;
  margin-top: 45px;
  font-weight: 300;
  font-size: 14px;
  color: #3F4E65;
}
.catalog-container .breadcrumbs .dashed-border {
  width: 0;
  height: 16px;
  opacity: 0.3;
  border: 1px dashed #3F4E65;
}
.catalog-container .breadcrumbs li a {
  text-decoration: none;
  color: #3F4E65;
}
.catalog-container .breadcrumbs li a:visited {
  color: #3F4E65;
}
.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-header h2 {
  margin-top: 35px;
  margin-left: 11px;
  line-height: 120%;
  color: #111111;
  font-size: 40px;
  text-transform: uppercase;
}
.catalog-header .catalog-sort {
  display: flex;
  gap: 5px;
  padding-top: 18px;
  margin-right: -5px;
}
.catalog-header .catalog-sort div {
  color: #111111;
  font-weight: 800;
  font-size: 16px;
}
.catalog-header .catalog-sort .sort-type {
  cursor: pointer;
  color: #3F4E65;
  font-size: 16px;
  outline: none;
  border: none;
}
.catalog-goods__types {
  display: flex;
  justify-content: space-between;
}
.catalog-goods__types-item {
  box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  padding: 10px;
  word-wrap: break-word;
  color: #3F4E65;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
}
.catalog-goods__types-item:nth-child(1) {
  margin-left: 15px;
}
.catalog-content__container {
  display: flex;
}
.catalog-filter {
  display: flex;
  padding-top: 45px;
  padding-left: 10px;
}
.catalog-filter__parameters-title {
  text-align: left;
  letter-spacing: 0.2px;
  margin-bottom: 0;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
}
.catalog-filter__price {
  text-align: left;
}
.catalog-filter__price h4 {
  margin-top: 13px;
  font-weight: 300;
  font-size: 14px;
  color: #3F4E65;
}
.catalog-filter__price h4 span {
  margin-left: 6px;
  color: #111111;
  font-size: 14px;
}
.catalog-filter__price-range {
  display: flex;
}
.catalog-filter__price-range .min {
  margin-right: 10px;
}
.catalog-filter__price-range .max {
  width: 105px;
  margin-left: 10px;
}
.catalog-filter__price-range input {
  width: 100px;
  outline: none;
  border: none;
  height: 23px;
  text-align: center;
  line-height: 23px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  font-weight: 300;
  font-size: 12px;
  color: #3F4E65;
}
.catalog-filter__producer {
  text-align: left;
  margin-top: 32px;
}
.catalog-filter__producer-title {
  color: #111111;
  font-size: 16px;
  letter-spacing: 0.2px;
}
.catalog-filter__producer-search div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 238px;
  height: 59px;
  background: #EDEDED;
  border-radius: 36px;
}
.catalog-filter__producer-search div input {
  margin-left: 20px;
  width: 50%;
  height: 50px;
  background: #EDEDED;
  border: none;
  outline: none;
}
.catalog-filter__producer-search div .search-btn {
  margin-right: 10px;
  width: 39px;
  height: 39px;
  background: #FFC85E;
  border-radius: 1000px;
}
.catalog-filter__producer-search div .search-btn img {
  position: relative;
  left: 30%;
  width: 14.53px;
  height: 14.53px;
}
.catalog-filter__producer-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 15px;
  margin-left: -5px;
  margin-bottom: 18px;
}
.catalog-filter__producer-checkboxes div input {
  transform: scale(0.9);
}
.catalog-filter__producer-checkboxes div .producer {
  font-size: 14px;
  color: #3F4E65;
}
.catalog-filter__producer-checkboxes div .count {
  font-size: 10px;
  color: #3F4E65;
}
.catalog-filter__producer-checkboxes .show-all {
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-left: 5px;
  gap: 5px;
  cursor: pointer;
}
.catalog-filter__producer-checkboxes .show-all span {
  font-size: 12px;
  color: #3F4E65;
}
.catalog-filter__producer-checkboxes .show-all.opened img {
  transform: rotate(180deg);
}
.catalog .catalog-filter__types {
  cursor: pointer;
}
.catalog .catalog-filter__types-title {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
  color: #111111;
  text-transform: uppercase;
  text-align: left;
  line-height: 50px;
}
.catalog .dashed-border {
  opacity: 0.3;
  height: 0;
  width: 283px;
  border: 1px dashed #3F4E65;
}
.catalog .admin-panel {
  position: absolute;
  width: 200px;
  height: 20px;
}
.catalog .admin-link {
  position: fixed;
  width: 20px;
  height: 200px;
  writing-mode: vertical-lr;
  background-color: #4b80c0;
  left: 0;
  top: 30vh;
  color: white;
}
.catalog .admin-link:visited {
  color: white;
}

.selected-category {
  border-radius: 15px;
  color: white;
  background: #FFC85E;
}
.selected-category .catalog-filter__types-title {
  color: white !important;
}

.back-content {
  margin-top: 10px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.back-content .back-btn {
  width: 32px;
  height: 32px;
  background: rgba(255, 202, 101, 0.3);
  border-radius: 100px;
  line-height: 32px;
}
.back-content span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.14em;
  color: #3F4E65;
}

.show-filters-btn {
  width: 32px;
  height: 32px;
  background: rgba(255, 202, 101, 0.5);
  border-radius: 100px;
  line-height: 32px;
}

@media only screen and (max-width: 1300px) {
  .catalog-goods__types {
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
  }
  .catalog-products__container {
    justify-content: center;
  }
  .catalog-products__list {
    margin: 0;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .catalog-filter {
    flex-direction: column;
    align-items: center;
  }
  .catalog-goods__types {
    display: none;
  }
  .catalog-filter__producer .dashed-border {
    display: none;
  }
  .catalog-filter__types-title {
    text-transform: none !important;
    margin: 0 !important;
    color: #3F4E65 !important;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 17px !important;
  }
  .header-actions__catalog-btn button img {
    fill: black !important;
  }
  .pages {
    left: 20% !important;
  }
  .catalog-products__text {
    margin-left: 5px;
  }
  .catalog-header {
    flex-wrap: wrap;
  }
  .catalog-sort {
    display: flex;
    gap: 5px;
    padding-top: 18px;
    margin-right: -5px;
  }
  .catalog-sort div {
    color: #111111;
    font-weight: 800;
    font-size: 16px;
  }
  .catalog-sort .sort-type {
    cursor: pointer;
    color: #3F4E65;
    font-size: 16px;
    outline: none;
    border: none;
  }
  .catalog-header {
    display: flex;
    width: 92.5%;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  .catalog-header .show-filters-btn {
    cursor: pointer;
  }
  .catalog-header .show-filters-btn img {
    transform: rotate(270deg);
  }
  .show {
    height: auto;
  }
  .rotate {
    transform: rotate(180deg);
  }
  .catalog-filter__parameters-container {
    height: 0;
    overflow: hidden;
  }
  .catalog-filter__parameters-container.show {
    height: auto;
  }
}
@media only screen and (max-width: 320px) {
  .catalog-sort .sort-type {
    width: 200px;
  }
  .catalog {
    max-height: 8580px;
  }
  .catalog-container .catalog-header h2 {
    font-size: 20px;
    margin-top: 25px;
  }
  .catalog-container .catalog-header h3 {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .catalog-filter {
    padding: 0 0 0 7px;
  }
  .catalog-filter__parameters {
    width: 95%;
  }
  .catalog-filter__parameters-container {
    height: 0;
    overflow: hidden;
  }
  .catalog-filter__types-title {
    height: 27px !important;
  }
  .catalog-header {
    display: flex;
    width: 92.5%;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  .catalog-header .show-filters-btn {
    cursor: pointer;
  }
  .catalog-header .show-filters-btn img {
    transform: rotate(270deg);
  }
  .show {
    height: auto;
  }
  .rotate {
    transform: rotate(180deg);
  }
}
.product {
  position: relative;
  width: 282px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 42px 21px 29px 23px;
}
.product-image {
  margin-top: -10px;
}
.product-image img {
  max-width: 80%;
  max-height: 80%;
  margin-bottom: 20px;
}
.product-weight {
  margin-top: -14px;
  margin-left: 2px;
  display: flex;
  font-size: 12px;
  color: #3F4E65;
}
.product-weight .weight {
  margin-left: 5px;
  color: #3F4E65;
}
.product-weight .type-img {
  opacity: 0.23;
}
.product-name {
  display: flex;
  cursor: pointer;
  text-align: left;
  color: #111111;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding-top: 9px;
  padding-left: 2px;
}
.product-name p {
  margin: 0;
  letter-spacing: 0.1px;
}
.product-name .name {
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.5px;
}
.product-details {
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #3F4E65;
  margin-top: 25px;
  margin-left: 2px;
}
.product-details__barcode {
  margin-bottom: 5px;
}
.product-details__barcode .barcode {
  color: #111111;
  font-weight: 700;
}
.product-details__producer {
  margin-bottom: 5px;
}
.product-details__producer .producer {
  color: #111111;
  font-weight: 700;
}
.product-details__brand .brand {
  color: #111111;
  font-weight: 700;
}
.product-acquire {
  position: absolute;
  bottom: 15px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  gap: 40px;
}
.product-acquire .product-price {
  font-weight: 800;
  font-size: 16px;
  color: #111111;
}
.product-acquire .product-cart__btn {
  display: flex;
  width: 153px;
  height: 45px;
  outline: none;
  border: none;
  background: #FFC85E;
  border-radius: 80px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.2s ALL;
}
.product-acquire .product-cart__btn:hover {
  background: #efb02c;
}
.product-acquire .product-cart__btn:active {
  background: #b0790d;
}

.product-card__container {
  display: flex;
}
.product-card__wrapper {
  width: 100%;
  max-width: 1332px;
  margin: 0 auto;
}
.product-card__wrapper .breadcrumbs {
  display: flex;
  gap: 10px;
  margin-top: 43px;
  margin-left: -49px;
}
.product-card__wrapper .breadcrumbs .dashed-border {
  height: 16px;
  opacity: 0.3;
  border: 1px dashed #3F4E65;
}
.product-card__wrapper .breadcrumbs .product-name__link {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 300;
  user-select: none;
}
.product-card__wrapper .breadcrumbs li a {
  font-size: 14px;
  font-weight: 300;
  color: #3F4E65;
  text-decoration: none;
}
.product-card__content {
  display: flex;
  text-align: left;
}
.product-card__img {
  display: flex;
  justify-content: center;
  flex-grow: 3;
  width: 664px !important;
  height: 471px;
  margin-top: 40px;
}
.product-card__info {
  padding-top: 64px;
  padding-left: 31px;
}
.product-card__info-stock {
  font-weight: 500;
  font-size: 14px;
  color: #1FD85D;
  margin-bottom: 10px;
}
.product-card__info-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 45px;
  color: #111111;
  font-weight: 400;
}
.product-card__info-name span {
  font-weight: bolder;
}
.product-card__info-weight {
  display: flex;
  gap: 5px;
  font-size: 12px;
  color: #3F4E65;
}
.product-card__info-weight .type-img {
  opacity: 0.23;
}
.product-card__info-purchase {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  align-items: center;
  gap: 40px;
}
.product-card__info-purchase .price {
  margin-top: 25px;
  letter-spacing: 0.7px;
  font-weight: 900;
  font-size: 30px;
  color: #111111;
}
.product-card__info-purchase .count-products {
  display: flex;
  gap: 21px;
  font-size: 14px;
  color: #3F4E65;
  line-height: 20px;
  padding-top: 20px;
}
.product-card__info-purchase .count-products button {
  width: 34px;
  height: 23px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  cursor: pointer;
  transition: 1s;
}
.product-card__info-purchase .count-products button:active {
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(211, 172, 87, 0.3) 97.25%);
}
.product-card__info-purchase .to-cart__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-right: 100px;
  gap: 12px;
  width: 184px;
  height: 59px;
  background: #FFC85E;
  border-radius: 79px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.2s ALL;
}
.product-card__info-purchase .to-cart__btn:hover {
  background: #efb02c;
}
.product-card__info-purchase .to-cart__btn:active {
  background: #b0790d;
}
.product-card__info-purchase .links {
  text-align: center;
  line-height: 77px;
  width: 77px;
  height: 77px;
  background: #FFFFFF;
  box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
}
.product-card__info-purchase .ad {
  display: flex;
  width: 316px;
  height: 77px;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #3F4E65;
}
.product-card__info-purchase .ad span {
  font-weight: 700;
}
.product-card__info-purchase .price-list {
  display: flex;
  width: 186px;
  height: 77px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #3F4E65;
  background: #FFFFFF;
  box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
}
.product-card__info-additional__btn {
  display: flex;
  gap: 10px;
  margin-top: 18px;
}
.product-card__info-additional__btn .links {
  text-align: center;
  line-height: 77px;
  width: 77px;
  height: 77px;
  background: #FFFFFF;
  box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
}
.product-card__info-additional__btn .ad {
  display: flex;
  width: 316px;
  height: 77px;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #3F4E65;
}
.product-card__info-additional__btn .ad span {
  font-weight: 700;
}
.product-card__info-additional__btn .price-list {
  display: flex;
  width: 186px;
  height: 77px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #3F4E65;
  background: #FFFFFF;
  box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
}
.product-card__info-features {
  margin-top: 37px;
}
.product-card__info-features .part-info .producer {
  margin: 9px 0;
  color: #3F4E65;
  font-weight: 300;
  font-size: 14px;
}
.product-card__info-features .part-info .producer span {
  font-weight: 700;
  color: #111111;
}
.product-card__info-features .description {
  overflow: hidden;
  margin-top: 35px;
}
.product-card__info-features .description .open {
  height: auto;
}
.product-card__info-features .description .close {
  height: 0;
}
.product-card__info-features .description-title {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #111111;
}
.product-card__info-features .description-title img {
  transform: rotate(180deg);
}
.product-card__info-features .description-title.rotate-img img {
  transform: rotate(0deg);
}
.product-card__info-features .description-text {
  font-weight: 300;
  margin: 0;
  font-size: 12px;
  color: #3F4E65;
  line-height: 18px;
}
.product-card__info-features .dashed-border {
  width: 269.5px;
  height: 0;
  opacity: 0.3;
  border: 1px dashed #3F4E65;
  margin-top: 35px;
}
.product-card__info-features .characteristics {
  margin-top: 23px;
  margin-bottom: 60px;
  overflow: hidden;
}
.product-card__info-features .characteristics .open {
  height: auto;
}
.product-card__info-features .characteristics .close {
  height: 0;
}
.product-card__info-features .characteristics-title {
  cursor: pointer;
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 16px;
  color: #111111;
}
.product-card__info-features .characteristics-title img {
  transform: rotate(180deg);
}
.product-card__info-features .characteristics-title.rotate-img img {
  transform: rotate(0deg);
}
.product-card__info-features .characteristics-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
  font-size: 14px;
  color: #3F4E65;
}
.product-card__info-features .characteristics-content span {
  color: #111111;
  font-weight: 500;
  font-size: 14px;
}

@media only screen and (max-width: 1300px) {
  .product-card__wrapper {
    text-align: left;
  }
  .product-card__wrapper .back-content .back-btn img {
    margin-left: 12px;
  }
  .product-card__wrapper .breadcrumbs {
    margin-left: 0;
  }
  .product-card__container {
    justify-content: center;
    align-items: center;
  }
  .product-card__content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    align-items: center;
  }
  .product-card__img {
    width: 256px !important;
    height: 179px;
    flex-grow: 0;
  }
  .product-card__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .product-card__info-name {
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    width: 250px;
  }
  .product-card__info-stock {
    text-align: left;
  }
}
@media only screen and (max-width: 600px) {
  .product-card__info-purchase {
    justify-content: center;
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .product-card__info-stock {
    margin-top: 0;
    margin-left: 16px;
  }
  .product-card__info-name {
    margin-left: 16px;
  }
  .product-card__info-purchase {
    justify-content: unset;
    gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
  }
  .product-card__info-purchase .to-cart__btn {
    margin-right: 0;
  }
  .product-card__info-purchase .price {
    margin-top: 10px;
    margin-left: 16px;
    font-size: 20px;
  }
  .product-card__info-purchase .price-list {
    margin-left: 70px;
  }
  .product-card__info-purchase .count-products {
    padding-top: 10px;
  }
  .product-card__info-purchase .to-cart__btn {
    margin-top: 0;
    margin-left: 16px;
  }
  .product-features__container {
    display: flex;
    flex-wrap: wrap;
  }
  .product-card__info-features {
    margin-top: 20px;
    padding-left: 16px;
    text-align: left;
  }
}
.footer {
  display: flex;
  gap: 50px;
  color: #FFFFFF;
  min-height: 500px;
  background: #3F4E65;
  justify-content: center;
  align-items: center;
}
.footer-content__company-description {
  margin-left: -35px;
  margin-right: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
}
.footer-content__company-description p {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}
.footer-content__company-description .sales-subscribe__title {
  text-align: left;
  font-weight: unset;
  font-size: 12px;
}
.footer-content__company-description .sales-subscribe .mail-input {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
  align-items: center;
  width: 252px;
  height: 59px;
  background: #FFFFFF;
  border-radius: 36px;
}
.footer-content__company-description .sales-subscribe .mail-placeholder {
  font-size: 12px;
  color: #5C6370;
}
.footer-content__company-description .sales-subscribe .mail-submit {
  width: 39px;
  height: 39px;
  background: #FFC85E;
  border-radius: 1000px;
}
.footer-content__company-description .sales-subscribe .mail-submit img {
  position: relative;
  top: 25%;
}
.footer-links__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 95px;
  margin-bottom: 100px;
}
.footer-links__menu {
  display: flex;
  flex-direction: column;
}
.footer-links__menu-title {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 30px;
}
.footer-links__menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.footer-links__categories {
  text-align: left;
}
.footer-links__categories-title {
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 28px;
  letter-spacing: 0.2px;
}
.footer-links__categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  font-size: 14px;
}
.footer-links__downloads {
  text-align: left;
}
.footer-links__downloads-title {
  letter-spacing: 0.3px;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 30px;
}
.footer-links__downloads-btn {
  display: flex;
  width: 214px;
  height: 59px;
  gap: 12px;
  align-items: center;
  justify-content: center;
  background: #FFC85E;
  border-radius: 79px;
}
.footer-links__downloads-btn .btn-text {
  font-weight: 700;
  font-size: 14px;
}
.footer-links__downloads-socials .socials-title {
  margin-left: 8px;
  font-weight: normal;
  font-size: 14px;
}
.footer-links__downloads-socials .socials-links {
  display: flex;
  margin-left: 5px;
  gap: 10px;
}
.footer-links__contacts {
  text-align: left;
}
.footer-links__contacts-title {
  letter-spacing: 0.6px;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 30px;
}
.footer-links__contacts-number {
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
}
.footer-links__contacts-number .number {
  margin-bottom: 3px;
}
.footer-links__contacts-number .schedule {
  letter-spacing: 0.01px;
  margin: 7px 0;
  font-weight: 300;
  font-size: 12px;
}
.footer-links__contacts-number .order-callback {
  font-weight: 400;
  font-size: 10px;
  text-decoration-line: underline;
  margin-bottom: 25px;
}
.footer-links__contacts-mail {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}
.footer-links__contacts-mail span {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.1px;
}
.footer-links__contacts-payments {
  margin-left: 1px;
  display: flex;
  gap: 5px;
}

@media only screen and (max-width: 1300px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer .footer-links__container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .footer-content__company-description {
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  .footer {
    flex-wrap: wrap;
    gap: 0;
  }
  .footer .footer-links__container {
    margin-top: -10px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 15px;
  }
  .footer .footer-content__company-description {
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .footer .footer-content__company-description .company-logo img {
    width: 97px !important;
    height: 41px !important;
  }
  .footer .footer-content__company-description .footer-header {
    display: flex;
    margin-top: 17px;
    width: 93.5%;
    justify-content: space-between;
  }
  .footer .footer-content__company-description .footer-header .footer-links__downloads-btn {
    width: 149px;
    height: 40px;
  }
  .footer .footer-content__company-description .footer-header .footer-links__downloads-btn .btn-text {
    font-weight: 700;
    font-size: 12px;
  }
  .footer .footer-content__company-description p {
    width: 85%;
    margin-left: -22px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
  .footer-links__container .footer-links__menu {
    order: 1;
  }
  .footer-links__container .footer-links__menu-title {
    font-weight: 600;
    font-size: 20px;
  }
  .footer-links__container .footer-links__menu-list {
    font-weight: 400;
    font-size: 12px;
  }
  .footer-links__container .footer-links__categories {
    order: 2;
  }
  .footer-links__container .footer-links__categories-title {
    font-weight: 600;
    font-size: 20px;
  }
  .footer-links__container .footer-links__categories-list {
    font-weight: 400;
    font-size: 12px;
  }
  .footer-links__container .footer-links__downloads {
    width: 100px;
    margin-top: 30px;
    margin-right: 30px;
    order: 4;
  }
  .footer-links__container .footer-links__contacts {
    order: 3;
  }
  .footer-links__container .footer-links__contacts .footer-links__contacts-mail {
    margin-bottom: 10px;
  }
}
body.adminPanel-open {
  overflow-x: unset;
}

.admin-panel__container {
  display: flex;
  min-height: 50vh;
  text-align: left;
  flex-direction: column;
  align-items: center;
}
.admin-panel__container .add-item {
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: relative;
  right: -40%;
  background-color: #84d55a;
  border-radius: 10px;
  color: #EDEDED;
  cursor: pointer;
  transition: 0.5s ALL;
}
.admin-panel__container .add-item:active {
  background-color: #649d43;
}
.admin-panel__container .admin-panel__table {
  border-spacing: 20px 10px;
}
.admin-panel__container .admin-panel__table .product-edit_card {
  border-spacing: 20px;
}
.admin-panel__container .admin-panel__table .product-edit_card td input {
  height: 30px;
}
.admin-panel__container .admin-panel__table .product-edit_card .url input {
  width: 100px;
  height: 50px;
}
.admin-panel__container .admin-panel__table .product-edit_card .name input {
  width: 50px;
  height: 50px;
}
.admin-panel__container .admin-panel__table .product-edit_card .weight input {
  width: 30px;
}
.admin-panel__container .admin-panel__table .product-edit_card .size input {
  width: 30px;
}
.admin-panel__container .admin-panel__table .product-edit_card .barcode input {
  width: 60px;
}
.admin-panel__container .admin-panel__table .product-edit_card .producer input {
  width: 45px;
}
.admin-panel__container .admin-panel__table .product-edit_card .brand input {
  width: 50px;
}
.admin-panel__container .admin-panel__table .product-edit_card .description input {
  width: 240px;
}
.admin-panel__container .admin-panel__table .product-edit_card .price input {
  width: 50px;
}
.admin-panel__container .admin-panel__table .product-edit_card .category {
  display: flex;
}
.admin-panel__container .admin-panel__table .product-edit_card .category textarea {
  width: 400px;
  height: 50px;
}
.admin-panel__container .admin-panel__table .product-edit_card .delete-btn {
  height: 25px !important;
  max-height: 25px;
  border-radius: 5px;
  background-color: #ff4d4d;
  cursor: pointer;
}
.admin-panel__container .breadcrumbs-admin {
  display: flex;
  gap: 10px;
  align-self: flex-start;
  margin-top: 45px;
  margin-left: 230px;
  font-size: 14px;
}
.admin-panel__container .breadcrumbs-admin .link {
  color: #3F4E65;
}
.admin-panel__container .breadcrumbs-admin .link:visited {
  color: #3F4E65;
}
.admin-panel__container .breadcrumbs-admin .dashed-border {
  height: 16px;
  opacity: 0.3;
  border: 1px dashed #3F4E65;
}
.admin-panel__container .breadcrumbs-admin .cart-crumb {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 300;
  user-select: none;
}

.add-item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}
.add-item__container .admin-panel__table .product-edit_card .category {
  display: flex;
}
.add-item__container .admin-panel__table .product-edit_card .category select {
  width: 200px;
}
.add-item__container select {
  width: 100px;
  height: 50px;
}
.add-item__container .add-form {
  margin: 0 auto;
}
.add-item__container .breadcrumbs-admin {
  display: flex;
  gap: 10px;
  align-self: flex-start;
  margin-bottom: 250px;
  margin-left: 230px;
  font-size: 14px;
}
.add-item__container .breadcrumbs-admin .link:visited {
  color: #3F4E65;
}
.add-item__container .breadcrumbs-admin .dashed-border {
  height: 16px;
  opacity: 0.3;
  border: 1px dashed #3F4E65;
}
.add-item__container .breadcrumbs-admin .cart-crumb {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 300;
  user-select: none;
}
.add-item__container .add-btn {
  width: 200px;
  height: 30px;
  background-color: #84d55a;
  border-radius: 10px;
  color: #EDEDED;
  cursor: pointer;
  transition: 0.5s ALL;
}
.add-item__container .add-btn:active {
  background-color: #649d43;
}
.add-item__container input {
  width: 100px;
  overflow-wrap: break-word;
  height: 50px;
}
.add-item__container textarea {
  width: 400px;
  height: 50px;
}
.add-item__container .admin-panel__table {
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-style: normal;
  font-weight: 400;
}

button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
