@import "./styles/header";
@import "./styles/shoppingCart";
@import "./styles/orderMessage";
@import "./styles/catalog";
@import "./styles/product";
@import "./styles/productCard";
@import "./styles/footer";
@import "./styles/adminPanel";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-style: normal;
  font-weight: 400;
}

button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  margin-top: 45px;
  margin-left: -30px;
  font-size: 14px;

  .link {
    color: #3F4E65;

    &:visited {
      color: #3F4E65;
    }
  }

  .dashed-border {
    height: 16px;
    opacity: 0.3;
    border: 1px dashed #3F4E65;
  }

  .last-link {
    color: #3F4E65;
    font-size: 14px;
    opacity: 0.5;
    font-weight: 300;
    user-select: none;
  }
}