@import "./styles/header";
@import "./styles/shoppingCart";
@import "./styles/orderMessage";
@import "./styles/catalog";
@import "./styles/product";
@import "./styles/productCard";
@import "./styles/footer";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-style: normal;
  font-weight: 400;
}
button{
  border: none;
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}