@import "variables";

.catalog {
  display: flex;
  height: auto;
  justify-content: center;
  width: 100%;

  &-products__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    margin-top: -25px;
    margin-left: 50px;
  }

  &-products__container {
    .pages {
      position: relative;
      display: flex;
      margin-top: 69px;
      left: 38.5%;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      color: $secondary-text-color;
      gap: 20px;

      .page {
        cursor: pointer;
      }

      .page-active {
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border-radius: 1000px;
      }

      .next {
        cursor: pointer;
        margin-left: 15px;
        transform: rotate(180deg);
      }

      .previous {
        cursor: pointer;
        margin-right: 15px;
      }

      .disabled {
        opacity: 0;
      }
    }
  }

  &-products__text {
    margin-top: 67px;
    margin-left: 63px;
    margin-bottom: 205px;
    max-width: 910px;
    text-align: left;
    font-size: 14px;
    color: $secondary-text-color;
    line-height: 21px;
  }

  &-container {
    width: 100%;
    max-width: 1370px;

    .breadcrumbs {
      display: flex;
      justify-content: space-between;
      width: 140px;
      padding: 0;
      margin-left: 10px;
      margin-top: 45px;
      font-weight: 300;
      font-size: 14px;
      color: $secondary-text-color;

      .dashed-border {
        width: 0;
        height: 16px;
        opacity: 0.3;
        border: 1px dashed #3F4E65;
      }

      li {
        a {
          text-decoration: none;
          color: $secondary-text-color;
          &:visited {
            color: $secondary-text-color;
          }
        }
      }
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-top: 35px;
      margin-left: 11px;
      line-height: 120%;
      color: $primary-text-color;
      font-size: 40px;
      text-transform: uppercase;
    }

    .catalog-sort {
      display: flex;
      gap: 5px;
      padding-top: 18px;
      margin-right: -5px;

      div {
        color: $primary-text-color;
        font-weight: 800;
        font-size: 16px;
      }

      .sort-type {
        cursor: pointer;
        color: $secondary-text-color;
        font-size: 16px;
        outline: none;
        border: none;
      }
    }
  }

  &-goods__types {
    display: flex;
    justify-content: space-between;

    &-item {
      box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
      border-radius: 10px;
      padding: 10px;
      word-wrap: break-word;
      color: $secondary-text-color;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      cursor: pointer;

      &:nth-child(1) {
        margin-left: 15px;
      }
    }
  }

  &-content__container {
    display: flex;
  }

  &-filter {
    display: flex;
    padding-top: 45px;
    padding-left: 10px;

    &__parameters {
      &-container {

      }

      &-title {
        text-align: left;
        letter-spacing: 0.2px;
        margin-bottom: 0;
        color: $primary-text-color;
        text-transform: uppercase;
        font-size: 16px;
      }
    }

    &__price {
      text-align: left;

      h4 {
        margin-top: 13px;
        font-weight: 300;
        font-size: 14px;
        color: $secondary-text-color;

        span {
          margin-left: 6px;
          color: $primary-text-color;
          font-size: 14px;
        }
      }

      &-range {
        display: flex;

        .min {
          margin-right: 10px;
        }

        .max {
          width: 105px;
          margin-left: 10px;
        }

        input {
          width: 100px;
          outline: none;
          border: none;
          height: 23px;
          text-align: center;
          line-height: 23px;
          background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
          border-radius: 1000px;
          font-weight: 300;
          font-size: 12px;
          color: $secondary-text-color;
        }
      }
    }

    &__producer {
      text-align: left;
      margin-top: 32px;

      &-title {
        color: $primary-text-color;
        font-size: 16px;
        letter-spacing: 0.2px;
      }

      &-search {
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 238px;
          height: 59px;
          background: #EDEDED;
          border-radius: 36px;

          input {
            margin-left: 20px;
            width: 50%;
            height: 50px;
            background: #EDEDED;
            border: none;
            outline: none;
          }

          .search-btn {
            margin-right: 10px;
            width: 39px;
            height: 39px;
            background: #FFC85E;
            border-radius: 1000px;

            img {
              position: relative;
              left: 30%;
              width: 14.53px;
              height: 14.53px;
            }
          }
        }
      }

      &-checkboxes {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 15px;
        margin-left: -5px;
        margin-bottom: 18px;

        div {

          input {
            transform: scale(0.9);
          }

          .producer {
            font-size: 14px;
            color: $secondary-text-color;
          }

          .count {
            font-size: 10px;
            color: $secondary-text-color;
          }
        }

        .show-all {
          display: flex;
          align-items: center;
          margin-top: 9px;
          margin-left: 5px;
          gap: 5px;
          cursor: pointer;

          span {
            font-size: 12px;
            color: $secondary-text-color;
          }
        }

        .show-all.opened {
          img {
            transform: rotate(180deg);
          }
        }
      }


    }
  }

  .catalog-filter__types {
    cursor: pointer;

    &-title {
      height: 50px;
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 16px;
      cursor: pointer;
      color: $primary-text-color;
      text-transform: uppercase;
      text-align: left;
      line-height: 50px;
    }
  }

  .dashed-border {
    opacity: 0.3;
    height: 0;
    width: 283px;
    border: 1px dashed #3F4E65;
  }

  .admin-panel {
    position: absolute;

    width: 200px;
    height: 20px;

  }

  .admin-link {
    position: fixed;
    width: 20px;
    height: 200px;
    writing-mode: vertical-lr;
    background-color: #4b80c0;
    left: 0;
    top: 30vh;
    color: white;

    &:visited {
      color: white;
    }
  }
}

.selected-category {
  border-radius: 15px;
  color: white;
  background: #FFC85E;

  .catalog-filter__types-title {
    color: white !important;
  }
}

.back-content {
  margin-top: 10px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 5px;

  .back-btn {
    width: 32px;
    height: 32px;
    background: rgba(255, 202, 101, 0.3);
    border-radius: 100px;
    line-height: 32px;

    img {
    }
  }

  span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.14em;
    color: #3F4E65;
  }
}
.show-filters-btn {
  width: 32px;
  height: 32px;
  background: rgba(255, 202, 101, 0.5);
  border-radius: 100px;
  line-height: 32px;
}

@media only screen and (max-width: 1300px) {
  .catalog-goods__types {
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
  }
  .catalog-products__container {
    justify-content: center;
  }
  .catalog-products__list {
    margin: 0;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .catalog-filter {
    flex-direction: column;
    align-items: center;
  }
  .catalog-goods__types {
    display: none;
  }
  .catalog-filter__producer {
    .dashed-border {
      display: none;
    }
  }
  .catalog-filter__types-title {
    text-transform: none !important;
    margin: 0 !important;
    color: $secondary-text-color !important;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 17px !important;
  }
  .header-actions__catalog-btn {
    button {
      img {
        fill: black !important;
      }
    }
  }
  .pages {
    left: 20% !important;
  }
  .catalog-products__text {
    margin-left: 5px;
  }
  .catalog-header {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 320px) {
  .catalog-sort {
    .sort-type {
      width: 200px;

    }
  }
  .catalog {
    max-height: 8580px;
  }
  .catalog-container {

    .catalog-header {
      h2 {
        font-size: 20px;
        margin-top: 25px;
      }

      h3 {
        margin-top: 5px;
        margin-bottom: 20px;
      }
    }
  }
  .catalog-filter {
    padding: 0 0 0 7px;
  }
  .catalog-filter__parameters {
    width: 95%;
  }
  .catalog-filter__parameters-container {
    height: 0;
    overflow: hidden;
  }
  .catalog-filter__types-title {
    height: 27px !important;
  }

  .catalog-header {
    display: flex;
    width: 92.5%;
    justify-content: space-between;
    align-items: center;
    height: auto;

    .show-filters-btn {
      cursor: pointer;

      img {
        transform: rotate(270deg);
      }
    }
  }
  .show {
    height: auto;
  }
  .rotate {
    transform: rotate(180deg);
  }
  .catalog-sort {
    display: flex;
    gap: 5px;
    padding-top: 18px;
    margin-right: -5px;

    div {
      color: $primary-text-color;
      font-weight: 800;
      font-size: 16px;
    }

    .sort-type {
      cursor: pointer;
      color: $secondary-text-color;
      font-size: 16px;
      outline: none;
      border: none;
    }
  }
  .catalog-products__container {
    margin-top: 37px;
  }
  .pages {
    left: 10% !important;
  }
  .catalog-products__text {
    max-width: 280px;
    line-height: 21px;
  }
}