@import "variables";

.footer{
  display: flex;
  gap: 50px;
  color: #FFFFFF;
  min-height: 500px;
  background: #3F4E65;
  justify-content: center;
  align-items: center;
  &-content__company-description{
    margin-left: -35px;
    margin-right: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
    p{
      margin-top: 10px;
      margin-bottom: 30px;
      width: 100%;
      text-align: left;
      font-size: 16px;
      line-height: 24px;
    }
    .sales-subscribe{
      &__title{
        text-align: left;
        font-weight: unset;
        font-size: 12px;
      }
      .mail{
        &-input{
          display: flex;
          justify-content: space-between;
          padding-left: 20px;
          padding-right: 10px;
          align-items: center;
          width: 252px;
          height: 59px;
          background: #FFFFFF;
          border-radius: 36px;
        }
        &-placeholder{
          font-size: 12px;
          color: #5C6370;
        }
        &-submit{
          width: 39px;
          height: 39px;
          background: #FFC85E;
          border-radius: 1000px;
          img{
            position: relative;
            top: 25%
          }
        }
      }
    }
  }
  &-links{
    &__container{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 95px;
      margin-bottom: 100px;

    }
    &__menu{
      display: flex;
      flex-direction: column;

      &-title{
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        margin: 0 0 30px;
      }
      &-list{
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 14px;
        &__item{
        }
      }
    }
    &__categories{
      text-align: left;
      &-title{
        font-weight: 600;
        font-size: 20px;
        margin: 0 0 28px;
        letter-spacing: 0.2px;
      }
      &-list{
        display: flex;
        flex-direction: column;
        gap:24px;
        padding: 0;
        font-size: 14px;

      }
    }
    &__downloads{
      text-align: left;
      &-title{
        letter-spacing: 0.3px;
        font-weight: 600;
        font-size: 20px;
        margin: 0 0 30px;
      }
      &-btn{
        display: flex;
        width: 214px;
        height: 59px;
        gap: 12px;
        align-items: center;
        justify-content: center;
        background: #FFC85E;
        border-radius: 79px;
        .btn-text{
          font-weight: 700;
          font-size: 14px;
        }
      }
      &-socials{
        .socials-title{
          margin-left: 8px;
          font-weight: normal;
          font-size: 14px;

        }
        .socials-links{
          display: flex;
          margin-left: 5px;
          gap:10px;
        }
      }
    }
    &__contacts{
      text-align: left;
      &-title{
        letter-spacing: 0.6px;
        font-weight: 600;
        font-size: 20px;
        margin: 0 0 30px;
      }
      &-number{
        font-size: 14px;
        letter-spacing: 0.2px;
        margin-left: 2px;
        display: flex;
        flex-direction: column;
        .number{
          margin-bottom: 3px;
        }
        .schedule{
          letter-spacing: 0.01px;
          margin: 7px 0;
          font-weight: 300;
          font-size: 12px;
        }
        .order-callback{
          font-weight: 400;
          font-size: 10px;
          text-decoration-line: underline;
          margin-bottom: 25px;
        }
      }
      &-mail{
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.4px;
        margin-bottom: 25px;
        span{
          font-weight: 300;
          font-size: 12px;
          letter-spacing: 0.1px;
        }
      }
      &-payments{
        margin-left: 1px;
        display: flex;
        gap:5px;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .footer{
    flex-wrap: wrap;
    .footer-links__container{
      justify-content: center;
      flex-wrap: wrap;
    }
    .footer-content__company-description{
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }
  }
}
@media only screen and (max-width: 320px) {
  .footer{
    flex-wrap: wrap;
    gap: 0;
    .footer-links__container{
      margin-top: -10px;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      row-gap: 15px;
    }
    .footer-content__company-description{
      justify-content: center;
      align-items: center;
      margin-left: 0;
      .company-logo{

        img{
          width: 97px !important;
          height: 41px !important;
        }
      }
      .footer-header{
        display: flex;
        margin-top: 17px;
        width: 93.5%;
        justify-content: space-between;
        .footer-links__downloads-btn{
          width: 149px;
          height: 40px;

          .btn-text{
            font-weight: 700;
            font-size: 12px;
          }
        }
      }
      p{
        width: 85%;
        margin-left: -22px;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
  .footer-links__container{
    .footer-links__menu{
      order: 1;
      &-title{
        font-weight: 600;
        font-size: 20px;
      }
      &-list{
        font-weight: 400;
        font-size: 12px;
      }
    }
    .footer-links__categories{
      order: 2;
      &-title{
        font-weight: 600;
        font-size: 20px;
      }
      &-list{
        font-weight: 400;
        font-size: 12px;
      }
    }
    .footer-links__downloads{
      width: 100px;
      margin-top: 30px;
      margin-right: 30px;
      order: 4;
    }
    .footer-links__contacts{
      order: 3;
      .footer-links__contacts-mail{
        margin-bottom: 10px;
      }
    }
  }
}