@import "variables";

.product {
  position: relative;
  width: 282px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 42px 21px 29px 23px;

  &-image {
    margin-top: -10px;

    img {
      max-width: 80%;
      max-height: 80%;
      margin-bottom: 20px;
    }

  }

  &-weight {
    margin-top: -14px;
    margin-left: 2px;
    display: flex;
    font-size: 12px;
    color: $secondary-text-color;

    .weight {
      margin-left: 5px;
      color: $secondary-text-color;
    }

    .type-img {
      opacity: 0.23;
    }
  }

  &-name {
    display: flex;
    cursor: pointer;
    text-align: left;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding-top: 9px;
    padding-left: 2px;

    p {
      margin: 0;
      letter-spacing: 0.1px;
    }

    .name {
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0.5px;
    }
  }

  &-details {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: $secondary-text-color;
    margin-top: 25px;
    margin-left: 2px;

    &__barcode {
      margin-bottom: 5px;

      .barcode {
        color: $primary-text-color;
        font-weight: 700;
      }
    }

    &__producer {
      margin-bottom: 5px;

      .producer {
        color: $primary-text-color;
        font-weight: 700;
      }
    }

    &__brand {
      .brand {
        color: $primary-text-color;
        font-weight: 700;
      }
    }
  }

  &-acquire {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 3px;
    gap: 40px;

    .product-price {
      font-weight: 800;
      font-size: 16px;
      color: $primary-text-color;
    }

    .product-cart__btn {
      display: flex;
      width: 153px;
      height: 45px;
      outline: none;
      border: none;
      background: #FFC85E;
      border-radius: 80px;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.15em;
      color: #FFFFFF;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      transition: 0.2s ALL;
      &:hover{
        background: #efb02c;
      }
      &:active{
        background: #b0790d;
      }
    }
  }
}